.env
.DS_Store
test.py
*.srt
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.txt
*.zip
__pycache__
index-tts
temp
separated
checkpoints
data
logs
output
finetune*/
v1/
voxcpm1.5
*.jsonl